@font-face {
	font-family: Minecraft;
	src: url(https://cdn.jsdelivr.net/gh/IdreesInc/Minecraft-Font@aee92fc6370e254af7c49dc91c6bdd77b0c82fe3/Minecraft.otf);
}

html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;

	font-family: Minecraft, sans-serif;
	background: #333;
	color: #ddd;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
}
div {
	box-sizing: border-box;
}
button {
	font-family: inherit;
}

.game {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.game > canvas {
	position: absolute;
	width: 100%;
	height: 100%;

	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
.game > .bar {
	position: absolute;
	width: 22.5rem;
	height: 2.5rem;
	max-width: 100%;
	max-height: calc(100vw/9);
	left: 50%;
	margin-left: -11.25rem;
	bottom: 0;
	display: flex;
}
@media (max-width: 22.5rem) {
	.game > .bar {
		left: 0;
		margin-left: 0;
	}
}
.game > .bar > * {
	background: #000;
	border: .25rem solid #333;
	flex: 1;
}
.game > .bar > *.active {
	border-color: #fff;
}
.game .bitmap {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.game .bitmap > * {
	flex: 1;
	display: flex;
}
.game .bitmap > * > * {
	flex: 1;
}
.game > .diagnostics {
	position: absolute;
	font-family: monospace;
	color: #fff;
}
.game .stack {
	width: 100%;
	height: 100%;
	position: relative;
}
.game .stack > .amount {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 1.2rem;
	color: #fff;
	text-shadow: 2px 2px #000;
}
.game > .touch {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .5;
}
.game > .touch .button {
	border: .3rem outset;
	border-radius: .5rem;
	background: #ccc;
}
.game > .touch .button.active {
	border-color: transparent;
}
.game > .touch > .top {
	position: absolute;
	height: 2rem;
	left: 1rem;
	right: 1rem;
	top: 1rem;
	display: flex;
	justify-content: flex-end;
	gap: .3rem;
}
.game > .touch > .top > * {
	min-width: 2rem;
	color: black;
	text-align: center;
}

.game > .touch > .move {
	position: absolute;
	width: 10rem;
	height: 10rem;
	max-width: 40vw;
	max-height: 40vw;
	left: 1rem;
	bottom: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: .2rem;
}
@media (max-width: 42rem) {
	.game > .touch > .move {
		bottom: 4rem;
	}
}
.game > .touch > .move.sec {
	left: auto;
	right: 1rem;
}
.game > .touch > .move > * {
	position: relative;
	overflow: hidden;
}
.game > .touch > .move > *::before {
	content: '';
	position: absolute;
	margin: 50%;
	width: 0;
	height: 0;
	left: -1rem;
	top: -1rem;
	border: 0 solid transparent;
}
.game > .touch > .move > .up {
	grid-column: 2;
	grid-row: 1;
}
.game > .touch > .move > .up::before {
	border-bottom-color: black;
	border-width: .3rem 1rem 1.7rem 1rem;
	top: -1.2rem;
}
.game > .touch > .move > .down {
	grid-column: 2;
	grid-row: 3;
}
.game > .touch > .move > .down::before {
	border-top-color: black;
	border-width: 1.7rem 1rem .3rem 1rem;
	top: -.8rem;
}
.game > .touch > .move > .left {
	grid-column: 1;
	grid-row: 2;
}
.game > .touch > .move > .left::before {
	border-right-color: black;
	border-width: 1rem 1.7rem 1rem .3rem;
	left: -1.2rem;
}
.game > .touch > .move > .right {
	grid-column: 3;
	grid-row: 2;
}
.game > .touch > .move > .right::before {
	border-left-color: black;
	border-width: 1rem .3rem 1rem 1.7rem;
	left: -.8rem;
}
.game > .touch > .move > .center {
	grid-column: 2;
	grid-row: 2;
	margin: .2rem;
}
.game > .touch > .move > .center::before {
	width: 1rem;
	height: 1rem;
	left: -.5rem;
	top: -.5rem;
	background: black;
	transform: rotate(45deg);
}
.game > .menu {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
}
.game > .menu > h1 {
	text-align: center;
}
.game > .menu > .settings {
	margin: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	grid-template-rows: 3rem;
	gap: 1rem;
}
.game > .menu.inventory {
	display: flex;
	align-items: center;
	justify-content: center;
}
.game > .menu.inventory > .window {
	border-radius: .5rem;
	background: #ccc;
	display: flex;
	flex-direction: column;
	padding: .5rem;
	gap: .5rem;
	color: #333;
}
.game > .menu.inventory > .window > .grid {
	display: grid;
	grid-template-columns: repeat(9, 2rem);
	gap: .25rem;
}
.game > .menu.inventory > .window > .grid > * {
	width: 2rem;
	height: 2rem;
	background: #aaa;
}
.game > .menu.inventory > .window > .grid > .first {
	grid-row-start: 4;
	background: #999;
}
.game > .menu.inventory > .hand {
	position: absolute;
	width: 2rem;
	height: 2rem;
	margin-left: -1rem;
	margin-top: -1rem;
	pointer-events: none;
}
.game > .terminal {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
	font-family: Minecraft, 'Courier New', Courier, monospace;
}
.game > .terminal > .history {
	flex: 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}
.game > .terminal > .history > * {
	padding: 1px;
}
.game > .terminal > .history > :first-child,
.game > .messages > :first-child {
	margin-top: auto;
}
.game > .terminal > .history > .minor,
.game > .messages > .minor {
	font-style: italic;
	color: #999;
}
.game > .terminal > input {
	border: none;
	background: black;
	color: inherit;
	font: inherit;
}
.game > .messages {
	position: absolute;
	left: 1rem;
	top: 1rem;
	right: 1rem;
	bottom: 12rem;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	font-family: Minecraft, 'Courier New', Courier, monospace;
}
.game > .messages > * {
	width: fit-content;
	background: rgba(0, 0, 0, .7);
	padding: 1px;
}
