@font-face {
	font-family: Minecraft;
	src: url(https://cdn.jsdelivr.net/gh/IdreesInc/Minecraft-Font@aee92fc6370e254af7c49dc91c6bdd77b0c82fe3/Minecraft.otf);
}

html {
	height: 100%;
}
body {
	position: fixed;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	font-family: Minecraft, sans-serif, Verdana;
	background: #333;
	color: #ddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}
button {
	cursor: hand;
	cursor: pointer;
	font-family: Minecraft, sans-serif, Verdana;
	padding: 8px 16px;
}

.blurred {
	filter: blur(8px);
}
.backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.cursormask {
	position: absolute;
	width: 100%;
	height: 100%;
}

.window {
	position: absolute;
	background: #333;

	&.borders {
		padding: 32px 8px 8px 8px;
		border-radius: 8px 8px 0 0;
		border: 1px solid black;
	}
}
.window_title {
	position: absolute;
	top: 8px;
	left: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.window_button {
	position: absolute;
	background: #a00;
	right: 8px;
	top: 8px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	transition: background .2s;

	&:hover {
		background: #f00;
	}
}

.game {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.game > canvas, .game .bitmap {
	position: absolute;
	width: 100%;
	height: 100%;

	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
.game .bitmap {
	background-size: 100% auto;
}

.game > .bar {
	position: absolute;
	bottom: 0;
	border-spacing: 0;
	background: #333;

	td {
		padding: 4px;

		&.active {
			background: white;
		}

		> * {
			background: black;
		}
	}
}

.game > .diagnostics {
	position: absolute;
	font-family: monospace;
	color: white;
}

.game .stack {
	height: 100%;
	position: relative;

	> .amount {
		position: absolute;
		right: 0;
		bottom: 0;
		color: white;
		text-shadow: 2px 2px black;
	}
}

.game .menu {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	touch-action: pan-y;
	overscroll-behavior: contain;

	&.busy {
		cursor: wait;
	}

	> h1 {
		text-align: center;
	}

	> .row {
		text-align: center;
		margin: 16px 0;

		> button {
			margin: 0 8px;
		}
	}

	> .worlds {
		margin: 16px auto 0;
		overflow-x: auto;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		touch-action: pan-y;
		overscroll-behavior: contain;

		> table {
			width: 100%;

			tr {
				cursor: pointer;
				background: #222;

				&:hover {
					background: #444;
				}

				&.selected {
					cursor: default;
					background: green;

					div {
						margin: 8px 0;
					}
				}

				> td {
					padding: 4px 8px;
				}
			}
		}
	}

	> .settings {
		margin: 0 auto;
		border-spacing: 8px;

		td {
			width: 200px;
			height: 40px;
		}

		button {
			width: 100%;
			height: 100%;
		}
		input {
			width: 100%;
		}
	}

	> .window {
		position: absolute;
		border-radius: 8px;
		background: #ccc;
		padding: 8px;
		color: #333;

		> h2 {
			margin: 0;
			font-size: 100%;
			color: #666;
		}

		> table {
			margin: -4px;
			margin-top: 4px;
			border-spacing: 4px;

			td {
				background: #aaa;
				padding: 0;
			}

			.last > td {
				background: #999;
			}
		}
	}

	> .hand {
		position: absolute;
		width: 32px;
		height: 32px;
		margin-left: -16px;
		margin-top: -16px;
		pointer-events: none;
		will-change: left, top;
	}

	&.terminal {
		> .toolbar {
			position: absolute;
			right: 16px;
			top: 16px;
			text-align: right;

			> button {
				width: 32px;
				height: 32px;
			}
		}

		> .history {
			position: absolute;
			bottom: 56px;
			font-family: Minecraft, 'Courier New', Courier, monospace;
			padding: 16px;

			> * {
				padding: 1px;
			}
			> .minor {
				font-style: italic;
				color: #999;
			}
		}

		> input {
			position: absolute;
			left: 16px;
			bottom: 16px;
			height: 32px;
			border: none;
			background: black;
			color: #ddd;
			font: 100% Minecraft, 'Courier New', Courier, monospace;
			padding: 4px;
		}
	}
}

.game > .messages {
	position: absolute;
	bottom: 30%;
	left: 16px;
	width: 90%;
	overflow: hidden;
	font-family: Minecraft, 'Courier New', Courier, monospace;

	> * {
		position: relative;
		display: table;
		padding: 1px;

		> span {
			position: relative;
		}
	}
	> .minor {
		font-style: italic;
		color: #999;
	}
}

.game > .touch {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .5;

	.button {
		border: 5px outset;
		border-radius: 8px;
		background: #ccc;

		&.active {
			border-color: transparent;
		}
	}

	> .top {
		text-align: right;

		> .button {
			display: inline-block;
			padding: 2px;
			color: black;
		}
	}

	> .move {
		position: absolute;

		.button {
			position: relative;

			> div {
				position: absolute;
				margin: 50%;
				left: -16px;
				top: -16px;
				border: 0 solid transparent;
			}
			&.up > div {
				top: -19.2px;
				border-bottom-color: black;
				border-width: 4.8px 16px 27.2px 16px;
			}
			&.down > div {
				top: -12.8px;
				border-top-color: black;
				border-width: 27.2px 16px 4.8px 16px;
			}
			&.left > div {
				left: -19.2px;
				border-right-color: black;
				border-width: 16px 27.2px 16px 4.8px;
			}
			&.right > div {
				left: -12.8px;
				border-left-color: black;
				border-width: 16px 4.8px 16px 27.2px;
			}
			&.center {
				margin: 4px;

				> div {
					left: -8px;
					top: -8px;
					width: 16px;
					height: 16px;
					background: black;
					transform: rotate(45deg);
				}
			}
		}
	}
}
