@font-face {
	font-family: Minecraft;
	src: url(https://cdn.jsdelivr.net/gh/IdreesInc/Minecraft-Font@aee92fc6370e254af7c49dc91c6bdd77b0c82fe3/Minecraft.otf);
}

html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	overflow: hidden;

	font-family: Minecraft, sans-serif, Verdana;
	background: green;
	color: #ddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
	touch-action: none;
}
button {
	cursor: default;
	font-family: Minecraft, sans-serif, Verdana;
}

.backdrop {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #815d42;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.cursormask {
	position: absolute;
	width: 100%;
	height: 100%;
}

.window {
	position: absolute;
	background: #333;

	&.borders {
		padding: 32px 8px 8px 8px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		border: 1px solid black;
	}
}
.window_title {
	position: absolute;
	top: 8px;
	left: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.window_button {
	position: absolute;
	background: #a00;
	right: 8px;
	top: 8px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	transition: background .2s;

	&:hover {
		background: #f00;
	}
}

.game {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.game > canvas, .game .bitmap {
	position: absolute;
	width: 100%;
	height: 100%;

	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
.game .bitmap {
	background-size: 100% auto;
}

.game > .bar {
	position: absolute;
	bottom: 0;
	width: 360px;
	left: 50%;
	margin-left: -180px;
	white-space: nowrap;
	overflow: auto hidden;
	font-size: 0;

	@media (max-width: 360px) {
		left: 0;
		margin-left: 0;
		width: 100%;
	}

	> * {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #333;
		padding: 4px;

		> * {
			background: black;
		}
	}

	> .active {
		background: white;
	}

	> :empty::after {
		content: ' ';
		display: block;
		height: 100%;
		background: black;
	}
}

.game > .diagnostics {
	position: absolute;
	font-family: monospace;
	color: white;
}

.game .stack {
	height: 100%;
	position: relative;

	> .amount {
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 19px;
		color: white;
		text-shadow: 2px 2px black;
	}
}

.game .menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;

	&.busy {
		cursor: wait;
	}

	h1 {
		text-align: center;
	}

	> center {
		margin: 16px 0;

		button {
			width: 192px;
			max-width: calc(50vw - 16px);
			height: 48px;
		}
	}

	> .worlds {
		width: 100%;
		max-width: 30rem;
		margin: 16px auto;
		height: calc(100vh - 288px);
		overflow-y: scroll;
		touch-action: pan-y;

		> * {
			cursor: pointer;
			padding: 3.2px 8px;

			&:nth-child(odd) {
				background: #222;
			}

			&.selected {
				background: green;
			}

			> :last-child {
				float: right;
			}
		}
	}

	> .settings {
		margin: 16px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
		gap: 16px;

		> * {
			min-height: 32px;
		}
	}

	&.inventory, &.advanced {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	> .window {
		border-radius: 8px;
		background: #ccc;
		display: flex;
		flex-direction: column;
		padding: 8px;
		gap: 8px;
		color: #333;

		> h2 {
			margin: 0;
			font-size: 100%;
			color: #666;
		}
	}

	&.inventory > .window > .grid {
		display: grid;
		grid-template-columns: repeat(9, 2rem);
		gap: 4px;

		> * {
			width: 32px;
			height: 32px;
			background: #aaa;

			&.first {
				grid-row-start: 4;
				background: #999;
			}
		}
	}

	> .hand {
		position: absolute;
		left: 0;
		top: 0;
		width: 32px;
		height: 32px;
		margin-left: -16px;
		margin-top: -16px;
		pointer-events: none;
	}
}

.game > .terminal {
	display: flex;
	flex-direction: column;
	padding: 16px;
	gap: 16px;
	font-family: Minecraft, 'Courier New', Courier, monospace;

	> .toolbar {
		text-align: right;

		> button {
			width: 32px;
			height: 32px;
		}
	}

	> .history {
		flex: 1;
		overflow-y: auto;
		display: flex;
		flex-direction: column;

		> * {
			padding: 1px;
		}
		> .minor {
			font-style: italic;
			color: #999;
		}
		> :first-child {
			margin-top: auto;
		}
	}

	> input {
		border: none;
		background: black;
		color: #ddd;
		font: 100% Minecraft, sans-serif, Verdana;
		padding: 4px;
	}
}

.game > .messages {
	position: absolute;
	bottom: 30%;
	left: 16px;
	width: 90%;
	overflow-y: hidden;
	font-family: Minecraft, 'Courier New', Courier, monospace;

	> * {
		position: relative;
		display: table;
		padding: 1px;

		> span {
			position: relative;
		}
	}
	> .minor {
		font-style: italic;
		color: #999;
	}
}

.game > .touch {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .5;

	.button {
		border: 5px outset;
		border-radius: 8px;
		background: #ccc;

		&.active {
			border-color: transparent;
		}
	}

	> .top {
		position: absolute;
		height: 32px;
		left: 16px;
		right: 16px;
		top: 16px;
		display: flex;
		justify-content: flex-end;
		gap: 4.8px;

		> * {
			min-width: 32px;
			color: black;
			text-align: center;
		}
	}

	> .move {
		position: absolute;
		width: 160px;
		height: 160px;
		max-width: 40vw;
		max-height: 40vw;
		left: 16px;
		bottom: 16px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 3.2px;

		@media (max-width: 672px) {
			bottom: 64px;
		}

		&.sec {
			left: auto;
			right: 16px;
		}

		> * {
			position: relative;
			overflow: hidden;

			&::before {
				content: '';
				position: absolute;
				margin: 50%;
				width: 0;
				height: 0;
				left: -16px;
				top: -16px;
				border: 0 solid transparent;
			}
		}

		> .up {
			grid-column: 2;
			grid-row: 1;

			&::before {
				border-bottom-color: black;
				border-width: 4.8px 16px 27.2px 16px;
				top: -19.2px;
			}
		}

		> .down {
			grid-column: 2;
			grid-row: 3;

			&::before {
				border-top-color: black;
				border-width: 27.2px 16px 4.8px 16px;
				top: -12.8px;
			}
		}

		> .left {
			grid-column: 1;
			grid-row: 2;

			&::before {
				border-right-color: black;
				border-width: 16px 27.2px 16px 4.8px;
				left: -19.2px;
			}
		}

		> .right {
			grid-column: 3;
			grid-row: 2;

			&::before {
				border-left-color: black;
				border-width: 16px 4.8px 16px 27.2px;
				left: -12.8px;
			}
		}

		> .center {
			grid-column: 2;
			grid-row: 2;
			margin: 3.2px;

			&::before {
				width: 16px;
				height: 16px;
				left: -8px;
				top: -8px;
				background: black;
				transform: rotate(45deg);
			}
		}
	}
}
