name: Build and deploy

on:
  push:
    branches-ignore:
      - dist
    paths:
      - 'package.json'
  pull_request:
    branches-ignore:
      - dist
    paths:
      - 'package.json'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run ./build.js

      - name: Commit artifacts
        if: github.ref == 'refs/heads/master'
        run: |
          export APPVERSION=$(bun -e "console.log(require('./package.json').version)")
          mv dist /tmp/app-dist
          git tag -f "v$APPVERSION"
          git push -f --tags
          git fetch origin dist
          git checkout dist
          mv /tmp/app-dist/* ./
          git add app*
          git clean -fd
          git config user.name github-actions
          git config user.email github-actions@github.com
          git diff-index --quiet HEAD || git commit -m "v$APPVERSION"
          git push

      - name: Notify server
        if: github.ref == 'refs/heads/master'
        run: |
          echo "::add-mask::${{ secrets.UPDATE_KEY }}"
          curl -X POST -d "key=${{ secrets.UPDATE_KEY }}" https://l3p3.de/svr/minicraft/update.txt
